body {
    font-family: Arial, Helvetica, sans-serif;
}

.hide {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}

.date-picker {
    background-color: rgb(46, 46, 46);
    width: 534px;
    padding: 10px;
    border-radius: 5px;
    color: #FFF;
}

.date-display {
    background-color: rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.3);
    display: flex;
    justify-content: space-between;
    padding: 4px 10px;
    border-radius: 3px;
    font-size: 14px;
}

.date-display__clear {
    cursor: pointer;
}

.date-display__clear:hover {
    text-decoration: underline;
}

.calendars {
    display: flex;
    margin-top: 10px;
}

.calendars .calendar {
    margin-left: 10px;
}

.calendars .calendar:first-child {
    margin-left: 0;
}

.calendar {
    width: 252px;
    background-color: #222;
    color: #FFF;
    border-radius: 5px;
    padding: 6px;
}

.calendar__header {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    text-align: center;
}

.calendar__nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.calendar__prev {
    justify-self: flex-start;
}

.calendar__next {
    justify-self: flex-end;
}

.calendar__week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    color: rgb(243, 65, 65);
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 4px;
}

.calendar__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-row-gap: 2px;
    margin-top: 6px;
}

.calendar__day--offset-1 {
    grid-column-start: 1;
}

.calendar__day--offset-2 {
    grid-column-start: 2;
}

.calendar__day--offset-3 {
    grid-column-start: 3;
}

.calendar__day--offset-4 {
    grid-column-start: 4;
}

.calendar__day--offset-5 {
    grid-column-start: 5;
}

.calendar__day--offset-6 {
    grid-column-start: 6;
}

.calendar__day--offset-7 {
    grid-column-start: 7;
}

.calendar__day {
    padding: 10px;
    font-size: 0.875em;
    font-weight: 100;
    box-sizing: border-box;
    cursor: pointer;
}

.calendar__day:hover {
    background-color: rgba(228, 125, 125, 0.548);
}

.calendar--disabled {
    opacity: 0.4;
    pointer-events: none;
}

.calendar--range {
    background-color: rgba(255,255,255,0.2);
}

.calendar--start,
.calendar--end,
.calendar--start:hover,
.calendar--end:hover {
    background-color: rgb(243, 65, 65);
}